# object files
*.[ao]
*.so
*.dSYM/

# editor stuff
*~
.*.swp

# autotools stuff
.deps/
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
.dirstamp

# Java stuff
*.class
*.ser
.nb-gradle/private/

# cmake stuff
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
